[Unit]
Description=Check Mail every five minutes
RefuseManualStart=no
# long running service which we can terminate at some point:
RefuseManualStop=no

[Timer]
Persistent=false
# checkmail.service won't run until five minutes after the computer boots, so
# network is up:
OnBootSec= 5min
OnUnitActiveSec= 5min
Unit=checkmail.service

[Install]
WantedBy=default.target