[connection]
id={{ item.value.SSID }}
{# this a random value #}
uuid={{ 9999999999999999999999 | random | to_uuid }}
type=wifi
interface-name={{ item.value.interfacename }}
slave-type=bridge
master={{ item.value.bridgemaster }}
zone={{ item.value.zone }}

[wifi]
ssid={{ item.value.SSID }}
band={{ item.value.band }}
mode={{ item.value.mode }}

[wifi-security]
key-mgmt=wpa-psk
psk={{ item.value.PSK }}

[bridge-port]
